In [19]:
#Importar librería 
import pymysql
import datetime 
import pandas as pd

In [3]:
#Credenciales
username = "admin"
password = "proyecto"
host = "database-1.cnvu29xw2umg.us-east-2.rds.amazonaws.com" 
port = 3306

In [4]:
#Conexión DB
db = pymysql.connect(host = host,
                     user = username,
                     password = password,
                     cursorclass = pymysql.cursors.DictCursor
)
# El objeto cursor es el que ejecutará las queries y devolverá los resultados

cursor = db.cursor()

In [5]:
#Versión DB
cursor.execute('SELECT VERSION()')
version = cursor.fetchone()
print(f'MySQL version: {version}')

MySQL version: {'VERSION()': '8.0.28'}

In [ ]:
#Crear DB
create_db = '''CREATE DATABASE prompt_database'''
cursor.execute(create_db)

In [7]:
cursor.execute('SHOW DATABASES')
cursor.fetchall()

[{'Database': 'information_schema'},
 {'Database': 'mysql'},
 {'Database': 'performance_schema'},
 {'Database': 'prompt_database'},
 {'Database': 'sys'}]

In [8]:
# Seleccionar DB

cursor.connection.commit()
use_db = ''' USE prompt_database'''
cursor.execute(use_db)

0

In [ ]:
# Crear tabla

create_table = '''
CREATE TABLE prompt (
    time TIMESTAMP NOT NULL,
    question TEXT,
    answer TEXT,
    primary key (time)
)
'''
cursor.execute(create_table)

In [12]:
time = datetime.datetime.now().strftime('%Y-%m-%d %H:%M:%S')
question = 'Pregunta prueba: ¿Cuál es tu nombre?'
answer = 'Respuesta prueba: Mi nombre es ChatGPT'

In [13]:
#Nuevo registro
insert_data = '''
INSERT INTO prompt (time, question, answer)
VALUES ('%s', '%s', '%s')
''' % (time, question, answer)

cursor.execute(insert_data)

1

In [14]:
#Leer datos
sql = '''SELECT * FROM prompt'''
cursor.execute(sql)
mi_lista = cursor.fetchall()
mi_lista

[{'time': datetime.datetime(2023, 3, 3, 18, 26, 48),
  'question': 'Pregunta prueba: ¿Cuál es tu nombre?',
  'answer': 'Respuesta prueba: Mi nombre es ChatGPT'}]

In [15]:
db.commit()

In [17]:
# leemos los datos para comprobar que se han ingestado correctamente
sql = '''SELECT * FROM prompt'''
cursor.execute(sql)
mi_tabla = cursor.fetchall()
mi_tabla

[{'time': datetime.datetime(2023, 3, 3, 18, 26, 48),
  'question': 'Pregunta prueba: ¿Cuál es tu nombre?',
  'answer': 'Respuesta prueba: Mi nombre es ChatGPT'}]

In [20]:
pd.DataFrame(mi_tabla)

,time,question,answer
0,2023-03-03 18:26:48,Pregunta prueba: ¿Cuál es tu nombre?,Respuesta prueba: Mi nombre es ChatGPT

In [21]:
# Cerrar conexión mysql
db.close()